nav {
  background-color: #EAF6F6;
  text-align: right;
  padding: 20px;
  padding-top: 50px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .nav-links {
    padding: 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }
}
