body {
    margin: 0px;
    /*--removes margin left and right of div, allowing color inside div to reach both edges of the screen--*/
    text-align: center;
    /* inside the container or parent element will center everything inside that does not have a width set for more pls see below an example at h1 */
    font-family: 'Merriweather', serif;
    /*this is a fall back system. If user does not have helvetica neue, the browser uses Helvetica, if not Arial and so on*/
}

h1 {
    font-size: 562.5%;
    /* 100% = 16px. to obtain the correct value (90px but in %), simple math: 90px/16= 562.5%. This makes it a Dynamic Font-Size*/
    margin: 50px auto 0 auto;
    /* default value is 1. no unit i.e px. increases de space between h1 text and whatever is on top and below it.*/
    /*-- removes h1 browser default top margin between paragraph and top margin, allowing div color to reach to the edge of the browser display--*/
    font-family: 'sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* 2.5rem equivalent to 40px*/
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 6px;
    margin-bottom: none;
    margin: 80px auto;
    width: 5%;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    /*removes default underline once clicked*/
}

/*addresses social media links at the end*/

a:hover {
    color: #EAF6F6
        /*enable white color once hover over social media links*/
}


.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 10px;
}

.middle-container {
    position: relative;

}

.bottom-container {
    margin-top: 100px;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    color: #40514E;
    overflow: auto;
}

.mountain-img {
    max-width: 100%;
    height: auto;
    margin-bottom: -4px;
}


.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies-img {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.computer-text {
    margin-top: -10px;
}

#new {
    margin-top: 50px;
}

.agoston-img {
    margin-top: 50px;
    width: 200px;
}

.intro {
    width: 30%;
    margin: auto;
    text-align: center;
    color: #40514E;
}

.lovewings2 {
    width: 30%;
    margin: 40px auto 60px;
    text-align: center;
    line-height: 2;
    color: #40514E;
}

#ifyou {
    margin: 50px;
}

.footer-link {
    color: black;
    font-weight: bold;

}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
  .lovewings2 {
    width: 50%;    
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 50%;    
  }
}
